<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-App</title>
    <link rel="stylesheet" href="data.css">
</head>

<body>
    <div class="formData">
        <form action="/" method="POST">
            <input type="text" class="task" name="data" placeholder="Enter Your Task" required>
            <button type="submit" class="btn">ADD</button>
        </form>
        <div class="dataContainer">
            <%for(var i=0;i<info.length;i++){%>
                <div class="taskContainer">
                    <%=info[i].data%>
                        <a href="/<%=info[i]._id%>"><button type="submit" id="del">DELETE</button></a>
                </div>
                <%}%>
        </div>

    </div>
</body>

</html>