<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-App</title>
</head>
<body>
        <div class="formData">
            <form action="/" method="POST">
                <input type="text" class="task" name="data" placeholder="Enter Your Task" required>
            </form>
            <button type="submit" class="btn">ADD</button>
            <div class="taskData"></div>
        </div>
</body>
</html>